@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Movie.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Northwind.MovieGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>