@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Masters.Hsnsac.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Masters.HsnsacGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>