@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.ProductsNew.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Northwind.ProductsNewGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>