@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Masters.InvoiceStatus.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Masters.InvoiceStatusGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>